#add-task-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-task-wrapper b{
    margin-top: -1vh;
    margin-bottom: 3vh;
}

#add-task-wrapper input{
    background-color: white;
    font-size: 1em;
    width: 70%;
    border: 1px solid #666;
    box-sizing: border-box;
    padding: 1vh 1.5vh;
    border-radius: 0.5vh;
    text-align: center;
}

#add-task-wrapper input:focus{
    outline: none;
    border: 1px solid rgb(61, 60, 60);
}

#add-task-wrapper button{
    font-size: 1em;
    border: solid 1px #666;
    border-radius: 0.5vh;
    background-color: white;
    margin-top: 4vh;
    padding: 1vh 5vh;
    cursor: pointer;
}

#add-task-wrapper button:hover{
    background-color: #ff69b4;
}