
.button-user-element{
    padding: 1vh;
    width: 7vh;
    height: 7vh;
    font-size: 1.1em;
    background-color: #fff8fc;
    border: 1px solid #666;
    border-radius: 0.2em;
    margin-right: 6vh;
    margin-bottom: 3vh ;
    cursor: pointer;
}

.button-user-element:hover{
    background-color: #ff69b4;
    font-size: 1.3em;
}